:root {
  --azure: #0290ff;
  --black-Two: #121212;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  padding: 0.8rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  background-color: #fff;
  margin: 1rem auto;
}

.navLinks {
  display: flex;
  align-items: center;
  padding: 0.9rem;
  flex-direction: row;
}

.navLinks h3 {
  font-size: 1.5rem;
  font-family: 'Montserrat';
  font-weight: bold;
  color: var(--azure);
}

.listItems {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.listItems li {
  list-style-type: none;
  margin: 0 0.8rem;
  letter-spacing: 1.9px;
}

.mask {
  background-color: var(--azure);
  text-align: right;
  float: right;
}

.book-container {
  display: flex;
  flex-direction: column;
}

.rows {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.row {
  display: flex;
  padding: 0.9rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 3px 2px #f5f5f5;
  margin-bottom: 1rem;
}

.book-container {
  display: flex;
  flex-direction: column;
}

button {
  color: var(--black-Two);
  background-color: var(--azure);
  border: none;
  outline: none;
  padding: 0.2rem 0.4rem;
}
